<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">PeliculasApp</h1>
        <p class="lead">Esto es una aplicación de películas.</p>
    </div>
</div>
<div class="container">
    <app-galeria [peliculas]="cartelera | slice:0:6" titulo="Películas en cartelera"></app-galeria>
    <app-galeria [peliculas]="populares | slice:0:6" titulo="Películas populares"></app-galeria>
    <app-galeria [peliculas]="ninios | slice:0:6" titulo="Películas para niños"></app-galeria>
</div>